.page-2 {
  width: 100%;
}
.page-2 ul.contents {
  padding-left: 0;
  color: #232d37;
}
.page-2 ul.contents li {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.25rem;
}
.page-2 ul.contents li.level-1 {
  font-family: 'Open Sans Semibold', sans-serif;
  margin-top: 2.188rem;
}
.page-2 ul.contents li.level-1:first-child {
  margin-top: 0;
}
.page-2 ul.contents li.level-2 {
  margin-left: 27px;
}
.page-2 ul.contents li.level-2:after {
  border-top: 1px dotted #b9c3cd;
}
.page-2 ul.contents li:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 1px dotted #232d37;
}
.page-2 ul.contents li .name {
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #fff;
  padding-right: 5px;
}
.page-2 ul.contents li .page {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: #fff;
  width: 1.875rem;
  text-align: right;
  line-height: 1.5;
}
