.page-1 {
  background-color: #232d37;
  background-image: url("../img/page-1_bg.png");
  background-position: right top;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  min-height: 100vh;
  .top-part {
    .header {
      font-size: 8.313rem;
      width: 60%;
      margin: 0 auto;
      padding-top: 25.2525253vh;
      line-height: 1;
      font-family: 'Open Sans CondensedBold', sans-serif;
    }

    .subheader {
      font-size: 3.313rem;
      width: 60%;
      margin: 0 auto;
      padding-top: 2.51572327044vh;
      padding-bottom: 25.2525253vh;
      line-height: 1;
      font-family: 'Open Sans CondensedLight', sans-serif;
    }
  }

  .bottom-part {
    .copyright {
      font-size: 0.4375rem;
      font-family: 'Open Sans CondensedBold', sans-serif;
      width: 60%;
      margin: 0 auto;
      color: #87919b;
      padding-top: 2.51572327044vh;
      padding-bottom: 5.66037735849vh;
    }
  }

}
