.page-8 .bg-image {
  background-image: url("../img/weight-bg.jpg");
}
.genetics-graph {
  position: relative;
  margin-left: 55px;
  width: 9.375rem;
  height: 17.5rem;
}
.genetics-graph__slider {
  position: absolute;
  z-index: 3;
  left: -55px;
  top: 0.4375rem;
  display: table;
}
.genetics-graph__slider .tooltip {
  display: table-cell;
  padding-right: 15px;
  vertical-align: middle;
}
.genetics-graph__slider .tooltip div {
  display: block;
  font-size: 10px;
  font-family: 'Open Sans Semibold', sans-serif;
  background-color: #232d37;
  border-radius: 4px;
  color: #fff;
  padding: 3px 0;
  width: 30px;
  text-align: center;
}
.genetics-graph__slider .number {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  padding: 3px;
  line-height: 1;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 12.8px;
  color: #fff;
  border: 1px solid #fff;
}
.genetics-graph__slider .number.lower {
  background-color: #64c800;
}
.genetics-graph__slider .number.average {
  background-color: #00beb9;
}
.genetics-graph__slider .number.higher {
  background-color: #00aaff;
}
.genetics-graph__gradient-block {
  position: absolute;
  left: 0;
  height: 17.5rem;
  width: 2.5rem;
}
.genetics-graph__gradient-block--values {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  box-sizing: border-box;
  z-index: 2;
}
.genetics-graph__gradient-block--values table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}
.genetics-graph__gradient-block--values table tr td {
  text-align: center;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  font-family: 'Open Sans Semibold', sans-serif;
  vertical-align: top;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
}
.genetics-graph__gradient-block--gradient {
  position: absolute;
  height: 17.5rem;
  width: 2.5rem;
  z-index: 1;
  box-sizing: border-box;
  padding-top: 1.188rem;
  padding-bottom: 1.188rem;
  background: #00aaff;
  background: -moz-linear-gradient(top, #00aaff 0%, #00aaff 50%, #64c800 51%, #64c800 100%);
  background: -webkit-linear-gradient(top, #00aaff 0%, #00aaff 50%, #64c800 51%, #64c800 100%);
  background: linear-gradient(to bottom, #00aaff 0%, #00aaff 50%, #64c800 51%, #64c800 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aaff', endColorstr='#64c800', GradientType=0);
}
.genetics-graph__gradient-block--gradient table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}
.genetics-graph__gradient-block--gradient table .higher {
  background: #00aaff;
  background: -moz-linear-gradient(top, #00aaff 0%, #00aaff 90%, #00beb9 100%);
  background: -webkit-linear-gradient(top, #00aaff 0%, #00aaff 90%, #00beb9 100%);
  background: linear-gradient(to bottom, #00aaff 0%, #00aaff 90%, #00beb9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aaff', endColorstr='#00beb9', GradientType=0);
}
.genetics-graph__gradient-block--gradient table .average {
  background: #00beb9;
}
.genetics-graph__gradient-block--gradient table .lower {
  background: #64c800;
  background: -moz-linear-gradient(top, #00beb9 0%, #64c800 10%, #64c800 100%);
  background: -webkit-linear-gradient(top, #00beb9 0%, #64c800 10%, #64c800 100%);
  background: linear-gradient(to bottom, #00beb9 0%, #64c800 10%, #64c800 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00beb9', endColorstr='#64c800', GradientType=0);
}
.genetics-graph__text {
  position: absolute;
  right: 0;
  width: 6.875rem;
  height: 17.5rem;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.genetics-graph__text table {
  border-spacing: 0;
  width: 100%;
  height: 100%;
}
.genetics-graph__text table .higher,
.genetics-graph__text table .average,
.genetics-graph__text table .lower {
  font-size: 0.5rem;
  font-family: 'Open Sans CondensedBold', sans-serif;
  text-transform: uppercase;
  color: #b9c3cd;
}
.genetics-graph__text table .average {
  border-bottom: 1px solid #b9c3cd;
  border-top: 1px solid #b9c3cd;
}
