.page-28 .circles {
  margin: 0 auto;
}
.page-28 .circles .endurance div,
.page-28 .circles .power div {
  border-radius: 50%;
  font-size: 1.063rem;
  text-transform: uppercase;
  background-color: #00aaff;
  width: 7.5rem;
  height: 7.5rem;
  font-family: 'Open Sans CondensedBold', sans-serif;
  color: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.page-28 .circles .power {
  padding-left: 10px;
}
.page-28 .circles .power div {
  background-color: rgba(0, 170, 255, 0.3);
  height: 5rem;
  width: 5rem;
}
.page-28 .fake-formula {
  margin: 0 auto;
}
.page-28 .fake-formula .border-bottom {
  border-bottom: 1px solid #232d37;
}
.page-28 .fake-formula tr td:first-child {
  font-size: 0.625rem;
  font-family: 'Open Sans Semibold', sans-serif;
  padding: 5px;
  text-align: center;
}
.page-28 .fake-formula .number {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 2rem;
  vertical-align: middle;
  line-height: 1;
  padding-left: 20px;
}
