.page-7 .fake-list {
  margin-top: 10px;
}
.page-7 .fake-list__line {
  margin-bottom: 5px;
}
.page-7 .fake-list__line:last-child {
  margin-bottom: 0;
}
.page-7 .fake-list__line .box {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 5px;
  margin-top: 5px;
  float: left;
}
.page-7 .fake-list__line .box.blue {
  background-color: #00aaff;
}
.page-7 .fake-list__line .box.aqua {
  background-color: #00beb9;
}
.page-7 .fake-list__line .box.green {
  background-color: #64c800;
}
.page-7 .fake-list__line .box.yellow {
  background-color: #ffc800;
}
.page-7 .fake-list__line .text {
  font-size: 0.75rem;
}
