.page-4 {
  .content--wrapper {
    min-height: ~"calc(100vh - 7.5rem - 288px - 3.438rem)";
  }
  .border-block {
    .fake-list {
      &__line {
        margin-bottom: 15px;
        display: table;
        &:last-child {
          margin-bottom: 0;
        }
        .number-wrapper {
          display: table-cell;
          vertical-align: top;
          .number {
            font-size: 0.75rem;
            margin-right: 0.4375rem;
            margin-top: 3px;
            color: #fff;
            border-radius: 50%;
            background-color: #00aaff;
            width: 1.125rem;
            height: 1.125rem;
            text-align: center;
            font-family: 'Open Sans Bold', sans-serif;
          }
        }
        .text {
          display: table-cell;
          vertical-align: top;
          font-size: 0.75rem;
        }
      }
    }
  }

  .map {
    width: 100%;
    height: 288px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
