.page-1 {
  background-color: #232d37;
  background-image: url("../img/page-1_bg.png");
  background-position: right;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.page-1 .header {
  font-size: 133.333333px;
  width: 60%;
  margin: 0 auto;
  padding-top: 200px;
  font-weight: bold;
  line-height: 1;
  font-family: 'Open Sans CondensedBold', sans-serif;
}
.page-1 .subheader {
  font-size: 53.333333px;
  width: 60%;
  margin: 0 auto;
  padding-top: 2.51572327044%;
  padding-bottom: 26.4150943396%;
  line-height: 1;
  font-family: 'Open Sans CondensedLight', sans-serif;
}
.page-1 .copyright {
  font-size: 7.333333px;
  font-family: 'Open Sans CondensedBold', sans-serif;
  width: 60%;
  margin: 0 auto;
  color: #87919b;
  padding-top: 2.51572327044%;
  padding-bottom: 5.66037735849%;
}
