@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url(fonts/OpenSans-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url(fonts/OpenSans-Semibold.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans SemiboldItalic';
  src: url(fonts/OpenSans-SemiboldItalic.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans CondensedLight';
  src: url(fonts/OpenSans-CondensedLight.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans CondensedBold';
  src: url(fonts/OpenSans-CondensedBold.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Wingdings';
  src: url(fonts/Wingdings.ttf);
  font-style: normal;
  font-weight: normal;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #232d37;
}
.page-container {
  min-width: 700px;
  max-width: 2062px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
.page-container .with-footer {
  padding-bottom: 50px;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
header .name {
  font-size: 53.333333px;
  line-height: 92.8571428571%;
  text-transform: uppercase;
  color: #fff;
  padding: 0 46px;
  height: 120px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans CondensedBold', sans-serif;
  display: table;
}
header .name .table-cell {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
header .name.less-size {
  font-size: 37px;
}
header.dark-bg .name {
  background-color: #232d37;
}
header.dark-bg-with-opacity .name {
  background-color: rgba(35, 45, 55, 0.8);
}
.content {
  padding: 45px 46px 0;
  box-sizing: border-box;
  width: 100%;
}
.content h1 {
  font-family: 'Open Sans CondensedBold', sans-serif;
  text-transform: uppercase;
  font-size: 29px;
  margin: 0 0 20px;
  line-height: 1;
}
.content h2 {
  margin: 0 0 25px;
  text-transform: uppercase;
  font-family: 'Open Sans CondensedBold', sans-serif;
  font-size: 17px;
}
.columns {
  width: 100%;
  display: table;
}
.columns .column {
  display: table-cell;
  width: 50%;
  box-sizing: border-box;
  vertical-align: top;
}
.columns .column:first-child {
  padding-right: 15px;
}
.columns .column:last-child {
  padding-left: 15px;
}
.columns.first-small .column:first-child {
  width: 30%;
}
.columns.first-small .column:last-child {
  width: 70%;
}
.markers {
  width: 100%;
  font-family: 'Open Sans Semibold', sans-serif;
  display: table;
  height: 84px;
}
.markers__left-text,
.markers__right-text {
  font-size: 11px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 35%;
  box-sizing: border-box;
}
.markers__left-text {
  text-align: left;
  padding-right: 35px;
}
.markers__right-text {
  padding-left: 35px;
  text-align: right;
}
.markers__middle-part {
  display: table-cell;
  width: 30%;
  position: relative;
}
.markers__middle-part .left-allele,
.markers__middle-part .right-allele {
  text-transform: uppercase;
  font-size: 32px;
  position: absolute;
  line-height: 1;
  bottom: 50%;
}
.markers__middle-part .left-allele {
  left: 0;
}
.markers__middle-part .right-allele {
  right: 0;
}
.markers__middle-part .images {
  position: absolute;
  height: 84px;
  width: 100%;
  text-align: center;
  top: 0;
}
.markers__middle-part .images img {
  height: 84px;
  width: auto;
}
.markers.details {
  margin-bottom: 65px;
  height: 42px;
}
.markers.details .markers__left-text,
.markers.details .markers__right-text {
  width: 39%;
  vertical-align: bottom;
}
.markers.details .markers__middle-part {
  width: 22%;
}
.markers.details .markers__middle-part .left-allele,
.markers.details .markers__middle-part .right-allele {
  bottom: 0;
}
.text {
  margin: 0 0 15px;
  font-size: 12.8px;
  line-height: 137.5%;
}
.size-16 {
  font-size: 16px;
}
.size-8 {
  font-size: 8px;
}
.semibold {
  font-family: 'Open Sans Semibold', sans-serif;
}
.bold {
  font-family: 'Open Sans Bold', sans-serif;
}
.blue-text {
  color: #00aaff;
  font-family: 'Open Sans Semibold', sans-serif;
}
.border-block {
  border: 2px solid #f0f5fa;
  box-sizing: border-box;
  padding: 20px;
  margin: 25px 0;
}
.border-block .header {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-family: 'Open Sans CondensedBold', sans-serif;
  font-size: 17px;
}
.border-block .text {
  margin: 0;
}
.border-block .example-header {
  font-family: 'Open Sans SemiboldItalic', sans-serif;
  font-size: 11px;
  margin-bottom: 20px;
}
table.custom-table {
  width: 100%;
  border-spacing: 0px;
}
table.custom-table thead tr th {
  padding: 3px 5px;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 8px;
  text-align: left;
  border-bottom: 1px solid #00aaff;
}
table.custom-table thead tr th:not(:first-child) {
  text-align: center;
}
table.custom-table tbody tr td {
  padding: 3px 5px;
  font-size: 8px;
  text-align: left;
  border-bottom: 0.5px solid #b2e5ff;
}
table.custom-table tbody tr td:not(:first-child) {
  text-align: center;
}
table.custom-table.header-left-table tbody tr td:first-child {
  font-family: 'Open Sans Bold', sans-serif;
}
footer {
  height: 55px;
  padding: 0 46px;
  width: 100%;
  box-sizing: border-box;
  display: table;
}
footer .name {
  display: table-cell;
  text-transform: uppercase;
  font-size: 7px;
  width: 50%;
  color: #00aaff;
  vertical-align: middle;
}
footer .number {
  display: table-cell;
  font-size: 7.333333px;
  width: 50%;
  text-align: right;
  color: #00aaff;
  font-weight: bold;
  vertical-align: middle;
}
.page-1 {
  background-color: #232d37;
  background-image: url("../img/page-1_bg.png");
  background-position: right;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.page-1 .header {
  font-size: 133.333333px;
  width: 60%;
  margin: 0 auto;
  padding-top: 200px;
  font-weight: bold;
  line-height: 1;
  font-family: 'Open Sans CondensedBold', sans-serif;
}
.page-1 .subheader {
  font-size: 53.333333px;
  width: 60%;
  margin: 0 auto;
  padding-top: 2.51572327044%;
  padding-bottom: 26.4150943396%;
  line-height: 1;
  font-family: 'Open Sans CondensedLight', sans-serif;
}
.page-1 .copyright {
  font-size: 7.333333px;
  font-family: 'Open Sans CondensedBold', sans-serif;
  width: 60%;
  margin: 0 auto;
  color: #87919b;
  padding-top: 2.51572327044%;
  padding-bottom: 5.66037735849%;
}
.page-2 {
  width: 100%;
}
.page-2 ul.contents {
  padding-left: 0;
  color: #232d37;
}
.page-2 ul.contents li {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.page-2 ul.contents li.level-1 {
  font-weight: 600;
  margin-top: 35px;
}
.page-2 ul.contents li.level-1:first-child {
  margin-top: 0;
}
.page-2 ul.contents li.level-2 {
  margin-left: 27px;
}
.page-2 ul.contents li.level-2:after {
  border-top: 1px dotted #b9c3cd;
}
.page-2 ul.contents li:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  border-top: 1px dotted #232d37;
}
.page-2 ul.contents li .name {
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #fff;
  padding-right: 5px;
}
.page-2 ul.contents li .page {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  background: #fff;
  width: 30px;
  text-align: right;
  line-height: 1.5;
}
.page-3 .description {
  font-size: 12.8px;
  width: 50%;
  padding: 30px 15px 30px 46px;
  box-sizing: border-box;
  color: #fff;
}
.page-4 .border-block .fake-list__line {
  margin-bottom: 15px;
  display: table;
}
.page-4 .border-block .fake-list__line:last-child {
  margin-bottom: 0;
}
.page-4 .border-block .fake-list__line .number-wrapper {
  display: table-cell;
  vertical-align: top;
}
.page-4 .border-block .fake-list__line .number-wrapper .number {
  font-size: 12px;
  margin-right: 7px;
  margin-top: 3px;
  color: #fff;
  border-radius: 50%;
  background-color: #00aaff;
  width: 18px;
  height: 18px;
  text-align: center;
  font-family: 'Open Sans Bold', sans-serif;
}
.page-4 .border-block .fake-list__line .text {
  display: table-cell;
  vertical-align: top;
  font-size: 12.8px;
}
.page-4 img.map {
  width: 100%;
  height: auto;
}
.page-5 img.genetics {
  width: 500px;
  margin: 27px auto;
  display: block;
}
.page-5 .blue-note {
  border-left: 2px solid #00aaff;
  background: rgba(0, 170, 255, 0.08);
  padding: 20px 15px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
}
.page-5 .bold-info {
  font-size: 12.8px;
  font-family: 'Open Sans Semibold', sans-serif;
}
.page-6 .m-b-25 {
  margin-bottom: 25px;
}
.page-7 .fake-list {
  margin-top: 10px;
}
.page-7 .fake-list__line {
  margin-bottom: 5px;
}
.page-7 .fake-list__line:last-child {
  margin-bottom: 0;
}
.page-7 .fake-list__line .box {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  margin-top: 5px;
  float: left;
}
.page-7 .fake-list__line .box.blue {
  background-color: #00aaff;
}
.page-7 .fake-list__line .box.aqua {
  background-color: #00beb9;
}
.page-7 .fake-list__line .box.green {
  background-color: #64c800;
}
.page-7 .fake-list__line .box.yellow {
  background-color: #ffc800;
}
.page-7 .fake-list__line .text {
  font-size: 12.8px;
}
@media (min-width: 1461px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1320px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 1225px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 1070px) {
  html {
    font-size: 5px;
  }
}
