@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
.page-container {
  min-width: 700px;
  max-width: 2062px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
.page-container .with-footer {
  padding-bottom: 50px;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
header .name {
  font-size: 53.333333px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  padding: 0 46px;
  height: 120px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
}
header .name.less-size {
  font-size: 37px;
}
header.dark-bg .name {
  background-color: #232d37;
}
header.dark-bg-with-opacity .name {
  background-color: rgba(35, 45, 55, 0.8);
}
header .description {
  font-size: 12.8px;
  width: 50%;
  padding: 30px 15px 30px 46px;
  box-sizing: border-box;
  color: #fff;
}
.content {
  padding: 45px 46px;
  box-sizing: border-box;
  width: 100%;
}
.content h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 29px;
  margin: 0 0 25px;
}
.content .flex-columns {
  display: flex;
}
.content .flex-columns .column {
  width: 50%;
  box-sizing: border-box;
}
.content .flex-columns .column:first-child {
  padding-right: 15px;
}
.content .flex-columns .column:last-child {
  padding-left: 15px;
}
.text {
  margin: 0 0 15px;
  font-size: 12.8px;
}
.size-16 {
  font-size: 16px;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.blue-text {
  color: #00aaff;
  font-weight: 600;
}
footer {
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 46px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
footer .name {
  text-transform: uppercase;
  font-size: 7px;
  width: 50%;
  float: left;
  color: #00aaff;
}
footer .number {
  font-size: 7.333333px;
  width: 50%;
  float: left;
  text-align: right;
  color: #00aaff;
  font-weight: bold;
}
@media (min-width: 1461px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1320px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 1225px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 1070px) {
  html {
    font-size: 5px;
  }
}
