@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
.page-container {
  min-width: 980px;
  max-width: 2062px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
.page-container .with-footer {
  padding-bottom: 50px;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
header {
  padding: 0 46px;
  height: 120px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
}
header.dark-bg {
  background-color: #232d37;
}
header .name {
  font-size: 53.333333px;
  text-transform: uppercase;
  color: #fff;
}
.content {
  padding: 0 46px;
  box-sizing: border-box;
  width: 100%;
}
footer {
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 46px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
footer .name {
  text-transform: uppercase;
  font-size: 7px;
  width: 50%;
  float: left;
  color: #00aaff;
}
footer .number {
  font-size: 7px;
  width: 50%;
  float: left;
  text-align: right;
  color: #00aaff;
}
.page-1 {
  background-color: #232d37;
  background-image: url("../img/page-1_bg.png");
  background-position: right;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}
.page-1 .header {
  font-size: 133px;
  width: 60%;
  margin: 0 auto;
  padding-top: 200px;
  font-weight: bold;
  line-height: 1;
}
.page-1 .subheader {
  font-size: 53px;
  width: 60%;
  margin: 0 auto;
  padding-top: 2.51572327044%;
  padding-bottom: 26.4150943396%;
  line-height: 1;
  font-weight: 300;
}
.page-1 .copyright {
  font-size: 7px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
  color: #87919b;
  padding-top: 2.51572327044%;
  padding-bottom: 5.66037735849%;
}
.page-2 {
  width: 100%;
}
ul.contents {
  padding-left: 0;
  margin-top: 45px;
  color: #232d37;
}
ul.contents li {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
ul.contents li.level-1 {
  font-weight: 600;
  margin-top: 35px;
}
ul.contents li.level-1:first-child {
  margin-top: 0;
}
ul.contents li.level-2 {
  margin-left: 27px;
}
ul.contents li.level-2:after {
  border-top: 1px dotted #b9c3cd;
}
ul.contents li:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  border-top: 1px dotted #232d37;
}
ul.contents li .name {
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #fff;
  padding-right: 5px;
}
ul.contents li .page {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  background: #fff;
  width: 30px;
  text-align: right;
  line-height: 1.5;
}
@media (min-width: 1461px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1320px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 1225px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 1070px) {
  html {
    font-size: 5px;
  }
}
